<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form >
        <p>
            <label>详细地址</label>
            <input type="text" name="address">
        </p>
        <p>
            <label>recieve</label>
            <input type="text" name="reciver">
        </p>
        <p>
            <label>post_num</label>
            <input type="text" name="post_num">
        </p>
        <p>
            <label>phone_num</label>
            <input type="text" name="phone_num">
        </p>
    </form>


</body>
</html>